@model UserViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Are You Sure To Delete This User!</h1>

<form asp-action="Delete">
    <div asp-validation-summary="All"></div>


    <partial name="PartialViews/DetailsDeleteUserPartialView" />

    <input type="submit" value="Delete" class="btn btn-danger"/>
    <a asp-controller="User" asp-action="Index" class="btn btn-success">Cancel</a>
</form>

