
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">User Details</h1>

<partial name="PartialViews/DetailsDeleteUserPartialView" /> 

<a asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success"><i class="fas fa-edit"></i> Update</a>
<a asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
<a asp-controller="User" asp-action="Index" class="btn btn-primary">Back To List</a>

