@model UserViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Edit">
    <div asp-validation-summary="All"></div>
    <partial name="PartialViews/CreateEditUserPartialView" />

    <input type="submit" value="Submit" class="btn btn-primary ml-2" />
    <a asp-controller="User" asp-action="Index" class="btn btn-danger">Back To List</a>

</form>

@section ValidationScriptSection
    {

        <partial name="_ValidationScriptsPartial" />
}


