@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-4">Are You Sure To Delete This Employee!</h1>

<form asp-action="Delete">
    <div asp-validation-summary="All"></div>

  
    <partial name="PartialViews/DetailsDeleteEmployeePartialView" />

    <input type="submit" value="Delete" class="btn btn-danger"/>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-success">Cancel</a>
</form>


